interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.api.proxy.bund.dev/app/chart_data/4067/DE/index_day.json
  response:
    body:
      string: '{"timestamps":[1420066800000,1451602800000,1483225200000,1514761200000,1546297200000,1577833200000,1609455600000,1640991600000,1672527600000,1704063600000,1735686000000,1767222000000]}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - Yrft_gp-liAEJwQ=
      etag:
      - '"c777f7f3fe9bdc1:0"'
      last-modified:
      - Thu, 12 Feb 2026 09:07:03 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.api.proxy.bund.dev/app/chart_data/4067/DE/4067_DE_day_1735686000000.json
  response:
    body:
      string: '{"meta_data":{"version":1,"created":1769864760106},"series": [[1735686000000,904260.75],[1735772400000,506115.5],[1735858800000,678718.75],[1735945200000,259667.75],[1736031600000,494995.75],[1736118000000,935617.5],[1736204400000,869129.0],[1736290800000,571546.5],[1736377200000,380266.0],[1736463600000,521278.5],[1736550000000,507007.75],[1736636400000,255121.5],[1736722800000,179902.5],[1736809200000,437204.75],[1736895600000,153305.0],[1736982000000,115134.75],[1737068400000,62176.75],[1737154800000,61516.25],[1737241200000,130763.0],[1737327600000,9[...]
[...]
