interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.de/app/chart_data/4068/DE/index_hour.json
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.smard.de/app/chart_data/4068/DE/index_hour.json
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://www.smard.de/app/chart_data/4068/DE/index_hour.json
  response:
    body:
      string: '{"timestamps":[1419807600000,1420412400000,1421017200000,1421622000000,1422226800000,1422831600000,1423436400000,1424041200000,1424646000000,1425250800000,1425855600000,1426460400000,1427065200000,1427666400000,1428271200000,1428876000000,1429480800000,1430085600000,1430690400000,1431295200000,1431900000000,1432504800000,1433109600000,1433714400000,1434319200000,1434924000000,1435528800000,1436133600000,1436738400000,1437343200000,1437948000000,1438552800000,1439157600000,1439762400000,1440367200000,144097200[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.de/app/chart_data/4068/DE/4068_DE_hour_1766358000000.json
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.smard.de/app/chart_data/4068/DE/4068_DE_hour_1766358000000.json
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://www.smard.de/app/chart_data/4068/DE/4068_DE_hour_1766358000000.json
  response:
    body:
      string: '{"meta_data":{"version":1,"created":1772283855633},"series": [[1766358000000,9.23],[1766361600000,8.01],[1766365200000,8.67],[1766368800000,8.02],[1766372400000,8.09],[1766376000000,8.8],[1766379600000,9.79],[1766383200000,15.03],[1766386800000,235.18],[1766390400000,1689.07],[1766394000000,3438.11],[1766397600000,4595.25],[1766401200000,4797.74],[1766404800000,4113.89],[1766408400000,2586.29],[1766412000000,891.89],[1766415600000,58.49],[1766419200000,47.36],[1766422800000,26.29],[1766426400000,13.81],[1766430000000,9.98],[1766433600000,7.93],[176643720[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.de/app/chart_data/4068/DE/index_day.json
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.smard.de/app/chart_data/4068/DE/index_day.json
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://www.smard.de/app/chart_data/4068/DE/index_day.json
  response:
    body:
      string: '{"timestamps":[1420066800000,1451602800000,1483225200000,1514761200000,1546297200000,1577833200000,1609455600000,1640991600000,1672527600000,1704063600000,1735686000000,1767222000000]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"796f665deae1dc1:0"'
      Last-Modified:
      - Tue, 12 May 2026 08:36:01 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.de/app/chart_data/4068/DE/4068_DE_day_1704063600000.json
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.smard.de/app/chart_data/4068/DE/4068_DE_day_1704063600000.json
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://www.smard.de/app/chart_data/4068/DE/4068_DE_day_1704063600000.json
  response:
    body:
      string: '{"meta_data":{"version":1,"created":1742251441307},"series": [[1704063600000,38018.0],[1704150000000,10702.25],[1704236400000,32264.75],[1704322800000,26356.75],[1704409200000,25621.0],[1704495600000,13241.5],[1704582000000,16333.5],[1704668400000,41129.25],[1704754800000,75589.75],[1704841200000,70612.0],[1704927600000,65[...]
[...]
