interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.api.proxy.bund.dev/app/chart_data/4068/DE/index_day.json
  response:
    body:
      string: '{"timestamps":[1420066800000,1451602800000,1483225200000,1514761200000,1546297200000,1577833200000,1609455600000,1640991600000,1672527600000,1704063600000,1735686000000,1767222000000]}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - Yrft8hrkFiAEJKQ=
      etag:
      - '"3c855cd5b69bdc1:0"'
      last-modified:
      - Thu, 12 Feb 2026 00:30:48 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.api.proxy.bund.dev/app/chart_data/4068/DE/4068_DE_day_1767222000000.json
  response:
    body:
      string: '{"meta_data":{"version":1,"created":1770856245538},"series": [[1767222000000,42499.12],[1767308400000,25409.46],[1767394800000,32946.23],[1767481200000,39768.54],[1767567600000,42814.89],[1767654000000,27538.82],[1767740400000,55040.72],[1767826800000,16340.92],[1767913200000,27382.53],[1767999600000,18777.22],[1768086000000,39792.54],[1768172400000,10800.31],[1768258800000,38834.31],[1768345200000,43833.18],[1768431600000,66046.93],[1768518000000,100903.18],[1768604400000,61224.55],[1768690800000,81296.12],[1768777200000,122476.82],[1768863600000,137552[...]
