interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.api.proxy.bund.dev/app/chart_data/4068/DE/index_hour.json
  response:
    body:
      string: '{"timestamps":[1419807600000,1420412400000,1421017200000,1421622000000,1422226800000,1422831600000,1423436400000,1424041200000,1424646000000,1425250800000,1425855600000,1426460400000,1427065200000,1427666400000,1428271200000,1428876000000,1429480800000,1430085600000,1430690400000,1431295200000,1431900000000,1432504800000,1433109600000,1433714400000,1434319200000,1434924000000,1435528800000,1436133600000,1436738400000,1437343200000,1437948000000,1438552800000,1439157600000,1439762400000,1440367200000,144097200[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.api.proxy.bund.dev/app/chart_data/4068/DE/4068_DE_hour_1762124400000.json
  response:
    body:
      string: '{"meta_data":{"version":1,"created":1769864623833},"series": [[1762124400000,9.43],[1762128000000,8.85],[1762131600000,8.66],[1762135200000,9.11],[1762138800000,8.18],[1762142400000,9.32],[1762146000000,12.26],[1762149600000,703.89],[1762153200000,5475.97],[1762156800000,12483.81],[1762160400000,18334.37],[1762164000000,20890.45],[1762167600000,20114.24],[1762171200000,16884.85],[1762174800000,12564.72],[1762178400000,6273.97],[1762182000000,984.64],[1762185600000,44.25],[1762189200000,24.58],[1762192800000,14.78],[1762196400000,9.73],[1762200000000,8.76[...]
