interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.de/app/chart_data/4068/DE/index_day.json
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.smard.de/app/chart_data/4068/DE/index_day.json
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://www.smard.de/app/chart_data/4068/DE/index_day.json
  response:
    body:
      string: '{"timestamps":[1420066800000,1451602800000,1483225200000,1514761200000,1546297200000,1577833200000,1609455600000,1640991600000,1672527600000,1704063600000,1735686000000,1767222000000]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"9c2d3ecc84d7dc1:0"'
      Last-Modified:
      - Wed, 29 Apr 2026 03:03:47 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://smard.de/app/chart_data/4068/DE/4068_DE_day_1767222000000.json
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.smard.de/app/chart_data/4068/DE/4068_DE_day_1767222000000.json
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://www.smard.de/app/chart_data/4068/DE/4068_DE_day_1767222000000.json
  response:
    body:
      string: '{"meta_data":{"version":1,"created":1777431821988},"series": [[1767222000000,39353.03],[1767308400000,23942.6],[1767394800000,30353.23],[1767481200000,36649.96],[1767567600000,41098.82],[1767654000000,26389.83],[1767740400000,51234.36],[1767826800000,15794.26],[1767913200000,27106.61],[1767999600000,18714.89],[1768086000000,36000.5],[1768172400000,11222.83],[1768258800000,37716.62],[1768345200000,42045.43],[1768431600000,64462.73],[1768518000000,96981.01],[1768604400000,58447.6],[1768690800000,79094.01],[1768777200000,118148.56],[1768863600000,131117.61][...]
[...]
